.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  font-size: 100%;
}

body {
  font-family: arial;
  background: #fafafa;
}

.hidden {
  display: none;
}

.buttons-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#quote-box {
  margin: auto;
  text-align: center;
  padding: 30px;
}

#author {
  font-family: Times New Roman;
  color: #ff9db0;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 5px 0 20px 0;
}

.quote {
  color: #1ed760;
  font-size: 2.5rem;
  font-weight: bold;
}

#text {
  font-family: Times New Roman;
  font-style: italic;
  margin: 10px 0 0;
  font-weight: normal;
}
